<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body>
    <h1>Charles Babbage</h1>
    <img src="/img/charles-babbage.jpg" alt="">
    <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <p>Se considera que la máquina analítica de Babbage fue la primera computadora de la historia. Lady Ada Lovelace, matemática e hija de Lord Byron, se enteró de los esfuerzos de Babbage y promovió activamente su máquina analítica, y escribió varios programas para la máquina de Babbage. Algunos historiadores afirman que esas instrucciones hacen de Ada Lovelace la primera programadora de computadoras de la historia.</p>
</body>
</html>