<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Arthur C. Clarke</h1>
    <img src="/img/arthur-c-clarke.jpg" alt="">
    <p>Arthur Charles Clarke, más conocido como Arthur C. Clarke, fue un escritor y científico británico. Autor de obras de divulgación científica y de ciencia ficción, como la novela 2001: Una odisea del espacio, El centinela o Cita con Rama y coguionista de la película 2001: Una odisea del espacio.</p>
    <p>Casi 30 años antes de que esta innovación se convirtiera en una realidad, Clarke declaraba que para el comienzo del nuevo milenio las personas podrían manejar toda la información que quisieran a través de pequeñas computadoras, que a su vez permitirían realizar toda clase de pagos y tareas.</p>
</body>
</html>