<!DOCTYPE html>
<html lang="es">
    <header>
        <a href="/">Home</a>
        <a href="/babbage">Babbage</a>
        <a href="/berners-lee">Berners-Lee</a>
        <a href="/clarke">Clarke</a>
        <a href="/hamilton">Hamilton</a>
        <a href="/lovelace">Lovelace</a>
        <a href="/turing">Turing</a>
    </header>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Grace Murray Hopper</h1>
    <img src="/img/grace-hopper.jpg" alt="">
    <p>Ingeniera de computación estadounidense. Fue uno de los programadores del primer gran ordenador, el Mark I. Inventa en 1952 el primer compilador para ordenador. Es considerada la madre de la programación informática y creó el Lenguaje Común Orientado a Negocios (COBOL, por sus siglas en inglés): el primer lenguaje complejo de ordenador. Fue una científica especializada en Matemáticas y también una militar norteamericana, con grado de almirante.</p>
</body>
</html>