<!DOCTYPE html>
<html lang="es">
    <header>
        <a href="/">Home</a>
        <a href="/babbage">Babbage</a>
        <a href="/berners-lee">Berners-Lee</a>
        <a href="/clarke">Clarke</a>
        <a href="/hamilton">Hamilton</a>
        <a href="/hopper">Hopper</a>
        <a href="/lovelace">Lovelace</a>
    </header>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <img src="/img/alan-turing.jpg" alt="">
    <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.</p>
    <p>Tras la II Guerra Mundial, en la que ayudó a descifrar el código Enigma de los mensajes en clave de los nazis, Turing creó uno de los primeros ordenadores como los actuales, que además de digital era programable: podía usarse para muchas cosas con sólo cambiar el programa.</p>
</body>
</html>